

.header_div{
    color: red;
    height: 90px;
    font-family: 'Dancing Script', cursive;
}

.header_div img{
    width:80px;
    height: 70px;
    margin-top: 0%;
}

.text_images_and_results{
    width: 30%;
    text-align: left;
    box-shadow: 10px 10px 10px lightslategrey;
}

#copy_right_footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 3;
    text-align: center;
    font-size: 10px;
    height: 25px;
    font-weight: bold;
    padding-top: 0%;
}

.text_images_and_results image{
    width: 5%;
    height: 10%;
}