body{
    font-family: 'Dancing Script', cursive;
    background-color: lime;
}

.header_div{
    background-color: lightsalmon;
    color: red;
}

.header_div img{
    width:100px;
}

.main_div{
    background-color: cyan;
    padding: 10px;
    margin-top: 15px;
    border: 5px solid blue;
    font-size: large;
}

.main_div label{
    background-color: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 10px plum;
}

#camera{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 10px pink;
}

#result{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 10px pink;
}

.main_div button{
    width: 310px;
    font-size: 16px;
    border: 1px solid;
    box-shadow: 5px 5px 10px plum;
}

.footer_div{
    margin-bottom: 50px;
}

.footer_div h4{
   background-color: magenta;
   border-radius: 10px;
   padding: 5px;
   box-shadow: 5px 5px 15px lightpink;
}

.footer_div img{
    width: 70px;
    margin-left: 2%;
}

#copy_right_footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    color: teal;
    line-height: 3;
    text-align: center;
}